/CoinFlip/nbproject/private/
/BruteForceDES/nbproject/private/
/BruteForceDES/build/
/CoinFlip/build/
/BruteForceDES/dist/
/CoinFlip/dist/
/TestOpenFiles/nbproject/private/
/TestOpenFiles/build/
/TagPairs/nbproject/private/
/TagPairs/build/
/TagPairs/dist/